example/
node_modules/
oh_modules/
build/
.hvigor/
.idea/
.cxx/
*.tgz
*.hap
*.hsp
*.p12
*.p7b
*.cer
*.log
local.properties
compile_commands.json
oh-package-lock.json5
buildEnv.sh
harmony/touch_through_view/src/main/module.json
